{% extends "home/layout.njk" %}

{% block filter %}
  <form class="form-header" action="/recipes" method="GET">
    <input class="header-input" type="text" name="filter" value={{filter}}>
    <button class="header-button">Filtrar</button>
  </form>
{% endblock %}


{% block content %}
  {%if filter.length > 0%}<p class="recipes-search">Buscando por: "{{filter}}"</p>{% endif %}
  <section class="cards">

    <div class="cards__grid">
      {% for recipe in recipes %}
        <div class="card">
          <a href="recipe/{{recipe.id}}">
            <div class="card__img">
              <img src="{{recipe.image}}" alt="{{recipe.title}}">
            </div>
          </a>
          <div class="card__title">
            <p>{{recipe.title}}</p>
          </div>
          <div class="card__author">
            <p>
              {% for chef in chefOptions %}
                {% if recipe.chef_id == chef.id %} {{chef.name}} {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="push" style="height: 50px;"></div>
  </section>

{% endblock %}