{% extends "recipes/layout.njk" %}

{% block content %}
  <div class="wrapper">
    <p class="recipe-header-title">{{recipe.title}}</p>
    <a href="/admin/recipes/{{recipe.id}}/edit" class="recipe-header-edit">Editar receita</a>
  </div>

  {% if files.length != 0 %}
    <div class="highlight">
      <img src="{{files[0].src}}" alt="{{files[0].name}}">
    </div>
    <div class="gallery-preview">
      {% for image in files %}
        <img 
          src="{{image.src}}" 
          alt="{{image.name}}"
          {% if loop.index0 == 0 %}
            class="active"
          {% endif %}
          onclick="ImageGallery.setImage(event)"
        >
      {% endfor %}
    </div>
  {% else %}
    <div class="recipe__img">
      <img src="{{ recipe.image }}" alt="">
    </div>
  {% endif %}

  <section class="recipe">
    <div class="recipe__title">
      <p>{{recipe.title}}</p>
    </div>
    <div class="recipe__author">
      <p>
        {% for chef in chefOptions %}
          {% if recipe.chef_id == chef.id %} {{chef.name}} {% endif %}
        {% endfor %}
      </p>
    </div>

    <div class="ingredients">
      <div class="subtitle__header">
        <div class="subtitle">
          <p>Ingredientes</p>
        </div>
        <div class="button ingredients">
          <p>ESCONDER</p>
        </div>
      </div>
      <ul class="ul ingredient">
        {% for ingredient in recipe.ingredients%}
          <li>{{ingredient}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="preparation">
      <div class="subtitle__header">
        <div class="subtitle">
          <p>Modo de preparo</p>
        </div>
        <div class="button preparation">
          <p>ESCONDER</p>
        </div>
      </div>
      <ul class="ul preparation">
        {% for step in recipe.preparation%}
          <li>{{step}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="information">
      <div class="subtitle__header">
        <div class="subtitle">
          <p>Informações adicionais</p>
        </div>
        <div class="button information">
          <p>ESCONDER</p>
        </div>
      </div>
      <div class="information__text">
        <p>{{recipe.information}}</p>
      </div>
    </div>
  </section>

  <div class="push"></div>

  <script src="/scripts.js"></script>
  <script src="/scriptsUpload.js"></script>

{% endblock %}