{% extends "layout.njk" %}

{% block content %}

  <section class="cards">

    <div class="cards__grid">
      {% for recipe in recipes %}
        <div class="card">
          <a href="recipe/{{recipes.indexOf(recipe)}}">
            <div class="card__img">
              <img src="{{recipe.image}}" alt="{{recipe.title}}">
            </div>
          </a>
          <div class="card__title">
            <p>{{recipe.title}}</p>
          </div>
          <div class="card__author">
            <p>{{recipe.author}}</p>
          </div>
        </div>
      {% endfor %}

      {% for recipe in recipes %}
        <div class="card">
          <a href="recipe/{{recipes.indexOf(recipe)}}">
            <div class="card__img">
              <img src="{{recipe.image}}" alt="{{recipe.title}}">
            </div>
          </a>
          <div class="card__title">
            <p>{{recipe.title}}</p>
          </div>
          <div class="card__author">
            <p>{{recipe.author}}</p>
          </div>
        </div>
      {% endfor %}
    </div>

  </section>

{% endblock %}