{% extends "admin/layout.njk" %}

{% block content %}

  <form class="create_recipe" method="POST" action="/admin?_method=PUT">

    <div class="subheader">
      <p>Criando receita</p>
      <div class="subheader-buttons">
        <button type="submit">Salvar</button>
      </div>
    </div>

    <div class="item first">
      <div class="title">Imagem da receita</div>
      <div>
        <input type="text" name="recipe_url" placeholder="http://" value="{{ recipe.recipe_url }}">
      </div>
    </div>

    <div class="item">
      <div class="title">Nome da receita</div>
      <div>
        <input type="text" name="title" value="{{ recipe.title }}">
      </div>
    </div>

    <div class="item">
      <div class="title">Autor da receita</div>
      <div>
        <input type="text" name="author" value="{{ recipe.author }}">
      </div>
    </div>

    <div class="item">
      <div class="title">Ingredientes</div>
      <div id="ingredients">
        {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="{{ ingredient }}" placeholder="Ingredient"/>
        </div>
        {% endfor %}
      </div>
      <div>
        <p class="button-create add-ingredient">Adicionar novo ingrediente</p>
      </div>
    </div>

    <div class="item">
      <div class="title">Modo de preparo</div>
      <div id="preparations">
        {% for preparation in recipe.preparations %}
          <div class="preparation">
            <input type="text" name="preparations[]" value="{{ preparation }}" placeholder="Preparation"/>
          </div>
        {% endfor %}
      </div>
      <div>
        <p class="button-create add-preparation">Adicionar novo passo</p>
      </div>
    </div>

    <div class="item">
      <div class="title">Informações adicionais</div>
      <div>
        <textarea type="text" name="information" placeholder="Deseja colocar informações adicionais?">{{ recipe.information }}</textarea>
      </div>
    </div>

    <input type="hidden" name="id" value="{{ recipe.id }}">
  </form>

  <form id="form-delete" action="/admin?_method=DELETE" method="post">
    <input type="hidden" name="id" value ="{{ recipe.id }}">
    <button type="submit">Deletar</button>
  </form>

  <script src="/scripts2.js"></script>
{% endblock %}