{% extends "recipes/layout.njk" %}

{% block content %}

  <form class="create_recipe" method="POST" action="/chefs?_method=PUT" enctype="multipart/form-data">

    <div class="subheader">
      <p>Editando chef</p>
      <div class="subheader-buttons">
        <button type="submit">Salvar</button>
      </div>
    </div>

    <div class="item">
      <div class="title">Nome</div>
      <div>
        <input type="text" name="name" value="{{ chef.name }}">
      </div>
    </div>

    <div class="item first">
      <div class="title">Foto do Chef</div>
      <div>
        <input type="text" name="avatar_url" value="{{ file[0].path }}">
      </div>
    </div>

    <div class="item-avatar">
      <div id="avatar-upload">
          <input
            value = "Enviar Avatar"
            class="avatar-input"       
            type="file"
            name="photo"
            accept="image/*"
          >
          <p>Enviar Avatar</p>
      </div>
    </div>

    <input type="hidden" name="id" value="{{ chef.id }}">
  </form>

  <form id="form-delete" action="/chefs?_method=DELETE" method="post">
    <input type="hidden" name="id" value ="{{ chef.id }}">
    <button type="submit">Deletar</button>
  </form>

  <script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event) {
      if({{ chef.total_recipes }} > 0) {
        const warning = alert("Este chef possui receitas, você não pode deletá-lo!")
        event.preventDefault()
      }
    })
  </script>

{% endblock %}