* {
  border: none;
  padding: 0px;
  margin: 0px;
}

/* Layout */

body {
  font-family: 'Roboto', sans-serif;
}

.body-wrapper {
  max-width: 960px;
  min-height: 100%;
  margin: auto;
  position: relative;
}

header {
  background: #111111;
  width: 100%;
  padding: 32px 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

header a {
  font-size: 15px;
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 50px;
}

header a:first-child {
  margin-left: 0px;
}

header a:last-child {
  margin-left: 30px;
}

.active {
  color: white;
}

.push {
  height: 60px;
}

/* Cards */

.cards__title {
  margin-top: 60px; 
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #111111;
  margin-bottom: -60px;
}

.cards__grid {
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-columns: 370px 370px;
  gap: 20px 30px;
  padding: 40px 0px;
  justify-items: center;
  justify-content: space-between;
}

.card {
  display: grid;
  grid-template-columns: 172px 1fr;
  align-content: start;
}

.card__info {
  padding: 0 20px; 
  margin-top: -15px;
  text-align: start;
}

.card__info a {
  font-size: 14px;
  color: #6558C3;
  text-decoration: none;
}

.card__img img{
  width: 172px;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
  object-fit: cover;
}

.card__title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 5px;
}

.card__author {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #777777;
}

/* Recipe */

.wrapper {
  padding: 20px 0px;
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
}

.recipe-header-title {
  font-size: 24px;
  font-weight: bold;
}

.recipe-header-edit {
  background: #6558C3;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 9px;
}

.recipe__img {
  padding: 0 0px;
}

.recipe__img img {
  width: 100%;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
}

.recipe {
  margin-top: 24px;
  padding: 0 0px;
}

.recipe__title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #111111;
  margin-bottom: 5px;
}

.recipe__author {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #777777;
  margin-bottom: 50px;
}

.subtitle {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #111111;
  margin-bottom: 20px;
}

.ul {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-left: 20px;
  margin-bottom: 39px;
}

.information__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.ul.ingredient.active {
  display: none;
}

.ul.preparation.active {
  display: none;
}

.information__text.active {
  display: none;
}

.subtitle__header {
  display: inline-flex
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #999999;
  margin-left: 8px;
  padding-top: 9px;
  cursor: pointer;
}

/* Edit */

/* Subheader */

.create_recipe {
  margin-bottom: 50px;

}

.subheader {
  padding-bottom: 20px;
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
}

.title-page,
.subheader p {
  font-size: 24px;
  font-weight: bold;
}

.title-page {
  margin-top: 50px;
}

.button-index,
.subheader button {
  background: #6558C3;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 9px;
  cursor: pointer;
}

.button-index-wrap {
  padding: 0 0px;
}

#form-delete button {
  position: absolute;
  right: 71px;
  top: 55px;
  background: #DC4747;;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 9px;
  cursor: pointer;
}

.create_recipe {
  padding: 0 0px;
}

.item {
  margin-bottom: 30px;
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
}

.button-create {
  font-size: 16px;
  color: #6558C3;
  margin-top: 15px;
  width: fit-content;
  cursor: pointer;
}

.item.first div {
  margin-top: 0;
}

.item input {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 100%;
  height: 49px;
  outline: none;
  padding: 0 5px;
  margin: 1px 0;
}

.item textarea{
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  height: 257px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  padding: 10px 5px;
}

.item select {
  height: 49px;
}

/* Chef - Show */
.card-chef {
  margin-top: 50px;
  text-align: center;
}

.card-chef img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

.card-chef .title-chef-name {
  margin-top: 30px;
  font-weight: bold;
  font-size: 36px;
}

.card-chef .total-chef-recipes {
  margin-top: 4px;
  font-size: 20px;
  color: #777777;
  text-align: center;
}

.grid-title {
  margin-top: 50px;
  padding: 0 0px;
  font-weight: bold;
  font-size: 24px;
  color: #111111;
}

/* Chefs index */

.chefs-grid-list {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  padding: 40px 0px;
  gap: 20px 0px;
  justify-items: center;
  justify-content: space-evenly;
}

.card-chef-index {
  display: grid;
  grid-template-columns: 64px 200px;
  align-content: start;
}

.card__img-chef img{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  object-position: top center;
}